<div class="row">
    <div class="col-md-12">
        @Html.Partial("Analytics_PopulationProgress")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("Analytics_BestSolution")
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("Analytics_MaxFitness")
    </div>
    <div class="col-md-6">
        @Html.Partial("Analytics_TopSolutions")
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("Analytics_Runtime")
    </div>
    <div class="col-md-6">
        @Html.Partial("Analytics_ValidGenomes")
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("Analytics_FitnessDevelopement")
    </div>
    <div class="col-md-6">
        &nbsp;
    </div>
</div>