<div class="row">
<div class="col-md-6">
    @Html.Partial("Data_Activities")
</div>
<div class="col-md-6">
    @Html.Partial("Data_Objects")
</div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("Data_Input")
    </div>
    <div class="col-md-6">
        @Html.Partial("Data_Output")
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.Partial("Data_Attributes")
    </div>
    <div class="col-md-6">
        @Html.Partial("Data_Covering")
    </div>
</div>