<script>
    reloadInterval = 3000;
</script>
<div class="jumbotron">
    <h1>Design it like Darwin 2.0 - Evolutionary Process Redesign</h1>
    <p class="lead">Process redesign is an important and valuable phase of the business process management (BPM) lifecycle. However, human creativity and objectiveness re-garding continuous redesign initiatives are limited and biased. To overcome these limitations, we propose computational support based on evolutionary al-gorithms. Our software tool extends a formerly published proof of concept. Novelties have been introduced by including a new data structure, new muta-tion and crossover operators as well as an extended evaluation of unambiguous process designs explicitly considering time objectives. Finally, the tool pro-vides new computation process (re-) design support to the BPM community. see more.</p>
    <p>
        <a href="https://bpm2017.cs.upc.edu/" class="btn btn-success btn-lg">BPM Conference 2017 &raquo;</a>&nbsp;<a href="https://github.com/rubytobi/Design-it-like-Darwin-2.0" class="btn btn-warning btn-lg">Github Repository &raquo;</a>&nbsp;<a href="https://www.fim-rc.de" class="btn btn-danger btn-lg">FIM Research Center &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("Controls")
    </div>
    <div class="col-md-6">
        @Html.Partial("Status")
    </div>
    <div class="col-md-3">
        @Html.Partial("ImportExport")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tabData">Data</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tabSettings">Settings</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tabAnalytics">Analytics</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div id="tabData" class="tab-pane active in fade">
        @Html.Partial("Data")
    </div>
    <div id="tabSettings" class="tab-pane fade">
        @Html.Partial("Settings")
    </div>
    <div id="tabAnalytics" class="tab-pane fade">
        @Html.Partial("Analytics")
    </div>
</div>