<script>
    reloadInterval = 3000;
</script>
<div class="jumbotron">
    <h1>Design it like Darwin 2.0 - Evolutionary Process Redesign</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>
        <a href="https://bpm2017.cs.upc.edu/" class="btn btn-success btn-lg">BPM Conference 2017 &raquo;</a>&nbsp;<a href="https://www.fim-rc.de" class="btn btn-danger btn-lg">FIM Research Center &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("Controlls")
    </div>
    <div class="col-md-6">
        @Html.Partial("Status")
    </div>
    <div class="col-md-3">
        @Html.Partial("ImportExport")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tabData">Data</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tabSettings">Settings</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tabAnalytics">Analytics</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade" id="tabSettings">
        @Html.Partial("Settings")
    </div>
    <div id="tabAnalytics" class="tab-pane fade">
        @Html.Partial("Analytics")
    </div>
    <div id="tabData" class="tab-pane active in fade">
        @Html.Partial("Data")
    </div>
</div>